*{
    padding: 0px;
    margin: 0px;
}
.card{
    background-color: black;
    height: 100px;
    width: 800px;
    display: flex;
    /* border: 2px solid red; */
    border-radius: 10px;
    justify-content: center;
    align-items: center;  
    margin: 5px;  
}
.image{
    position: relative;

}
.image img{
    width: 180px;
    height:90px;
    border-radius: 8px;
    
}
.text{
    color: white;
    padding: 15px;
}
.text h2, p {
    padding: 5px;
}
.capsule{
    position: absolute;
    bottom: 3px;
    right: 0;
    z-index: 10;
    background-color: gray;
    padding: 3px;
    font-size:13px;
    border-radius: 4px;
    opacity: 0.9;
    color: white;
}
